body
{
    padding: 20px;
    min-width: 450px;
}

a
{
    padding: 10px;
    text-decoration: none;
}

label
{
    cursor: pointer;
}

input[type="submit"]
{
    cursor: pointer;
}

div.main-block
{
    border: 2px solid gray;
    border-top: none;
}

header.head
{
    padding: 20px;
}

img.header-img
{
    width: 120px;
    height: 100px;
    padding-left: 20px;
}

div.one-line
{
    display: inline-block;
}

div.middle
{
    padding: 20px;
}

div.block-info
{
    display: inline-block;
    margin: 10px;
    border: 1px solid gray;
    padding: 20px;
    width: 250px;
    text-align: center;
}

div.img-block
{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

footer.footer
{
    padding: 20px;
}

div.some-info
{

}

div.card
{
    border: 1px solid gray;
    border-radius: 10px;
    height: 162px;
    width: 258px;
    margin-top: 10px;
    display: inline-block;
    background-color: lightsteelblue;
}

input.card-value
{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    background-color: lightsteelblue;
    width: 50px;
}

input.card-name
{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background-color: lightsteelblue;
    width: 200px;
}

input.form-value
{
    width: 250px;
}

table.card-table
{
    margin: 0 auto;
}

img.block-img
{
    height: 100px;
    width: 100px;
}

div.form-block
{
    display: inline-block;
    padding-left: 10px;
}

div.card-and-form
{
    display: table;
}

div.from-any-bank
{
    display: table;
    background-color: lightgrey;
}

#from-own-bank-label-1
{
    font-size: 20px;
    background-color: lightgrey;
}

#from-any-bank-label-1
{
    font-size: 20px;
    background-color: lightgrey;
}

div.from-own-bank
{
    display: table;
    background-color: lightgrey;
}

#pay:checked ~ #pay-label
{
    color: black;
}

#ask:checked ~ #ask-label
{
    color: black;
}

#ask-label
{
    font-weight: bold;
    color: blue;
}

#pay-label
{
    font-weight: bold;
    color: blue;
}

div.contacts
{
    margin: 10px;
}

form input[type="text"], form input[type="number"] {
    border: 2px solid #a7a7a7;
}

form input[type="text"]:focus, form input[type="number"]:focus
{
    border: 2px solid #3BA4C7 !important;
}

form input[type="text"].error, form input[type="number"].error {
    border: 2px solid red;
}

form input[type="text"].ok, form input[type="number"].ok {
    border: 2px solid green !important;
}

form select.ok
{
    border: 2px solid green !important;
}

form select
{
    border: 2px solid #a7a7a7;
    height: 25px;
}

form span.text-error {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  font-size: 10px;
  line-height: 10px;
}

form button {
   position: relative;
   margin-top: 15px;
   right: 0;

   text-decoration:none;
   text-align:center;
   padding:11px 32px;
   border:solid 1px #004F72;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius: 4px;
   font-size: 14px;
   font-weight:bold;
   color:#E5FFFF;
   background-color:#3BA4C7;
   background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
   background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
   background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
   background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
   background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
   -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
   -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
   box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
