<!DOCTYPE html>
<html id="html" lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script type="text/javascript" src="/static/scripts/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <title>Оплата</title>
    </head>
    <body ng-controller="myAppCtrl">
        <div class="main-block">
            <header class="head">
                <div class="one-line">
                    <h3 style="float: top">Индивидуальный предприниматель Боря</h3>
                    <a>+79196236913</a>
                    <a href="mailto:borya@mail.ru">borya@mail.ru</a><br>
                    <a href="mailto:borya@mail.ru">www.borya.cats</a><br>
                    <a href=".">Информация о компании</a>
                    <a href=".">Показать реквизиты</a>
                </div>
                <div class="one-line">
                    <img class="header-img" src="https://klopik.com/uploads/posts/2010-04/thumbs/1271140649_0_3ca8f_5756d194_xl.jpg">
                </div>
            </header>
            <hr>
            <div class="middle">
                <label id="pay-label" ng-click="pay=false">Заплатить</label>&#160;&#160;
                <label id="ask-label" ng-click="pay=true">Запросить платёж</label>&#160;&#160;
                <br>
                <div class="ask" ng-show="pay">
                    <form id="your-bank-form">
                        {% csrf_token %}
                        <input type="hidden" name="create_payment" value="create_payment">
                        <div class="form-block">
                            Создайте платёжку, а Индивидуальный предприниматель Боря подпишет
                            её у себя в интернет-банке
                            <table class="card-table">
                                <tr>
                                    <td>ИНН получателя</td>
                                    <td>
                                        <input class="form-value" type="text"
                                               placeholder="ИНН или название получателя"
                                               name="inn"
                                               id="your-bank-inn"
                                        >
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td>БИК</td>
                                    <td>
                                        <input class="form-value" type="text"
                                               name="bik"
                                               id="your-bank-bik"
                                        >
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td>Номер счёта</td>
                                    <td>
                                        <input class="form-value" type="text"
                                               name="account_number"
                                               id="your-bank-acc"
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>За что</td>
                                    <td>
                                        <select name="nds" id="your-bank-nds">
                                            <option>НДС 18%</option>
                                            <option>НДС 10%%</option>
                                            <option>без НДС</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Сколько</td>
                                    <td>
                                        <input class="form-value" type="number"
                                               name="how_many"
                                               id="your-bank-count"
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>Номер телефона</td>
                                    <td>
                                        <input class="form-value" type="text" placeholder="+7 999 999-99-99"
                                               name="phone"
                                               id="your-bank-phone"
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>Эл.почта</td>
                                    <td>
                                        <input class="form-value" type="text" placeholder="Для уведомлений об оплате"
                                               name="email" id="your-bank-email">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" value="Создать платёж"
                                               name="create_payment" id="your-bank" disabled>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="pay" ng-show="! pay">
                    <label id="from-own-bank-label" ng-click="own=false" ng-show="own">Из своего интернет банка</label>&#160;&#160;
                    <label id="from-own-bank-label-1" ng-click="own=false" ng-show="! own">Из своего интернет банка</label>&#160;&#160;
                    <label id="from-any-bank-label-1" ng-click="own=true" ng-show="own">С карты любого банка</label>&#160;&#160;
                    <label id="from-any-bank-label" ng-click="own=true" ng-show="! own">С карты любого банка</label>&#160;&#160;
                    <div class="from-any-bank" ng-show="own">
                        <form id="any-bank-form">
                            {% csrf_token %}
                            <input type="hidden" name="pay" value="pay">
                            <div class="card-and-form">
                                <div class="card">
                                    <table class="card-table">
                                        <tr>
                                            <th colspan="2">
                                                <input class="card-name" type="text" placeholder="Номер карты"
                                                       id="any-bank-num"
                                                       name="card_num">
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="card-value" type="text" placeholder="ММ/ГГ"
                                                    id="any-bank-info" name="card-info">
                                            </td>
                                            <td>
                                                <input class="card-value" type="text" placeholder="CVC"
                                                       name="cvc" id="any-bank-cvc">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-block">
                                    <table class="card-table">
                                        <tr>
                                            <td>Сумма</td>
                                            <td>
                                                <input class="form-value" type="number" placeholder="от 1000 до 75000 р"
                                                       name="sum" id="any-bank-count">
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td>Комментарий</td>
                                            <td>
                                                <input class="form-value" type="text" placeholder="До 150 символов"
                                                       name="comment" id="any-bank-comment">
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td>Ваша эл.почта</td>
                                            <td>
                                                <input class="form-value" type="text" placeholder="Для квитанций об оплате"
                                                       name="email" id="any-bank-email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="submit" value="Заплатить"
                                                       name="pay" id="any-bank" disabled>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="from-own-bank" ng-show="! own">
                        <form method="POST" action="." id="own-bank-form">
                            {% csrf_token %}
                            <div class="form-block">
                                Сформируйте платёжку и загрузите её в свой банк для подписи
                                <table class="card-table">
                                    <tr>
                                        <td>От кого</td>
                                        <td>
                                            <input class="form-value" type="text" placeholder="ИНН или название плательщика"
                                                   name="inn"
                                                   id="own-bank-inn"
                                            >
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td>БИК</td>
                                        <td>
                                            <input class="form-value" type="text"
                                                   name="bik"
                                                   id="own-bank-bik"
                                            >
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td>Номер счёта</td>
                                        <td>
                                            <input class="form-value" type="text"
                                                   id="own-bank-acc"
                                                   name="account_number"
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>За что</td>
                                        <td>
                                            <select name="nds" id="own-bank-nds">
                                                <option>НДС 18%</option>
                                                <option>НДС 10%</option>
                                                <option>без НДС</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Сколько</td>
                                        <td>
                                            <input class="form-value" type="number"
                                                   name="how_many"
                                                   id="own-bank-count"
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="submit" value="Получить файл для интернет банка"
                                                   name="get_file" disabled
                                                   id="own-bank"
                                            >
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <footer class="footer">
                <h3>О компании Индивидуальный предприниматель Боря</h3>
                <div class="block-info">
                    <div class="img-block">
                        <img class="block-img" src="https://megatoys24.ru/uploads/all/68/8b/bc/688bbcb1cb42a0333d4a98125cb3f33e.jpg">
                    </div>
                    Игрушечная мышь<br>
                    123 руб.
                </div>
                <div class="block-info">
                    <div class="img-block">
                        <img class="block-img" src="https://kostochka38.ru/media/CACHE/images/photos/zooirkutsk/t2470/e1acc89e33429a141b8239b8b07b5cc6.jpg">
                    </div>
                    Миска<br>
                    43 руб.
                </div>
                <div class="block-info">
                    <div class="img-block">
                        <img class="block-img" src="http://murkote.com/wp-content/uploads/2016/05/kogtetochka-svoimi-rukami-5.jpg">
                    </div>
                    Точилка для когтей<br>
                    142 руб.
                </div>
                <div class="some-info">
                    Ко́шка, или дома́шняя ко́шка (лат. Félis silvéstris cátus), — домашнее животное, одно из наиболее популярных[1] (наряду с собакой) «животных-компаньонов»[2][3][4].
                    С точки зрения научной систематики, домашняя кошка — млекопитающее семейства кошачьих отряда хищных. Ранее домашнюю кошку нередко рассматривали как отдельный биологический вид. С точки зрения современной биологической систематики домашняя кошка (Felis silvestris catus) является подвидом лесной кошки (Felis silvestris)[5].
                </div>
                <div class="contacts">
                Контакты:
                <a>+79196236913</a>
                <a href="https://www.borya.cats">www.borya.cats</a>
                <a href="mailto:borya@mail.ru">borya@mail.ru</a>
                </div>
            </footer>
        </div>
    </body>
</html>